.search-input {
  max-height: 40px;
  color: #fff !important;
  background-color: #5c6bc0;
  padding: 10px;
  height: 40px;
  border-radius: 10px;

  svg {
    color: #fff;
    margin-right: 10px;
    margin-left: 5px;
  }

  &:hover {
    background-color: #6f7dc8;
  }
}